/* added deafult classes */

*{
    font-family: 'Merriweather', serif;
    margin: 0px;
    padding: 0px;
}

/* style header */
.header-container{
    max-width: 1320px;
    height: 600px;
    background-image: url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 50px auto;
}

.container-control{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);;
    border-radius: 16px;
}
.wishing-text{
    color: #fff;
    text-align: center;
    padding: 200px 530px 0px 530px;
    font-size: 32px;
    font-weight: 400;
}
.celebrate-text{
    color: #fff;
    text-align: center;
    padding: 0px 150px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* style main section */

.main-container{
    max-width: 700px;
    margin: 120px auto;
}
.discount-text{
    color: #F00;
    font-size: 88px;
    font-family: Inter;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
}
.simple-text{
    color: #F00;
    text-align: center;
    font-family: inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.category-text{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0px 50px 0px;
}

.new-year-image{
    width: 800px;
    height: 500px;
}

/* sttle 2 number of section */

.section-2-container{
    max-width: 1320px;
    max-height: 600px;
    margin: 120px auto;
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    display: flex;

}
.text-container{
    padding: 100px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);;
    border-radius: 16px;
}
.welcome-text{
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-bottom: 25px;
}
.tex-details{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;
}
.btn-text{
    background-color: transparent;
    border: 0px;
    padding-left: 20px;
}
.btn-text a {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.party-night-image{
    width: 320px;
    height: 465px;
    padding: 65px 120px;
}

/* style 3 number of section */

.section-3-container{
    max-width: 1320px;
    max-height: 482px;
    margin: 120px auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
    border-radius: 16px;


}

.text-container-3{
    padding: 100px 380px;
    text-align: center;
}

.text-decorate span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
   
}

.text-details-text{
    color: #070211;
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    line-height: 45px;

}
.text-decorate{
    padding-bottom: 45px;
}

.btn-text-3{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: #F00;
    padding: 16px 32px;
    border-radius: 8px;
    border: 0px;
}

.btn-text-3 a{
    text-decoration: none;
    color: #fff;
}

/* style 4 number of section */

.section-4-container{
    margin: 120px auto;
    max-width: 1320px;
}

.main-container-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .text-info{
    text-align: left;
}
.primary-text{
    color: #F00;
    font-family: Inter;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.text-info{
    max-width: 400px;
    
}
.new-year{
    max-width: 280px;
    align-items: center;
}
.offer-text{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 10px 0px;
}
.text-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    
}

.border-image-controller{
    border: 8px solid #F00;
    padding: 20px;
    border-radius: 100%;
}
.middle-image{
    width: 300px;
    height: 300px

}
.year-text{
    color: #F00;
    font-size: 42px;
    font-family: Inter;
    font-weight: 700;
    
}

.year-text-details{
        color: rgba(7, 2, 17, 0.60);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        padding: 10px 0px 40px 0px;
}
/* style 5 number of section */

.section-5-container{
    max-width: 1320px;
    margin: 120px auto;
}

.main-controller{
    max-width: 850px;
    margin: 0 auto;
}
.functional-text{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: center;
}

.sale-text span{
    color: #F00;
text-align: center;
font-size: 72px;
font-weight: 900;
text-align: center;
}

.sale-text{
    color: #070211;
font-size: 72px;
font-weight: 900;
text-align: center;
padding: 10px 0px;
}
.sale-text-details{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}
.imges-control{
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}
.second-section-controller{
    position: relative;
}
.gift-box{
    max-width: 550px;
   position: relative;
   top: 180px;
   left: 140px;
}
.discount{
    position: absolute;
    right: 250px;
    top: 150px;
}

/* style 6 number of section */

.section-6-container{
    max-width: 1320px;
    margin: 120px auto;
}
.sixth-section-contrller{
    padding: 12px;
}

.gift-text{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.portifio-text{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 10px 0px;
    }
.portfilio-text-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding-right: 450px;
}
.all-images{
    padding: 50px 0px 6px 0px;
    display: flex;
}
.all-images-two{
    padding: 6px 0px 50px 0px;
    display: flex;
}
.common-images{
    padding: 12px;
    filter: grayscale(0%);
}
.common-images:hover{
    filter: grayscale(60%);
}


/* style 7th number section */

.section-7-container{
    max-width: 1320px;
    margin: 120px auto;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
}

.seven-section-controller{
    padding: 80px 210px;
    text-align: center;
}
.email-images{
    width: 150px;
    height: 150px;
}
.newslatter-text{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 40px 0px 20px 0px;
}
.newslatter-description{
    max-width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 0px 110px;
}

.email-form{
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subscription-controller{
    border-radius: 50px;
    background-color: #fff;
}

.subscription-controller input{
    font-size: 18px;
    color: #000;
    padding: 24px 30px;
    border: none;
    border-radius: 50px;
    outline: none;
    background: #fff;
}

.subscription-controller button{
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 24px 56px;
    border: 0px;

}
/* style footer section */
.footer-section-controller{
    background: #070211;
}

.manage-full-container{
    padding: 50px 0px;
    max-width: 1320px;
    margin: 0 auto;
}

.address-test-details{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.address-details{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.number-text{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 40px;
margin: 0px 8px;
}
.phone-control{
    display: flex;
    align-items: center;
    padding-right: 120px;
}
.phone-icon{
    height: 24px;
    width: 24px;
    margin: 0px 8px;
}

.site-control{
    display: flex;
    align-items: center;

}
.site-icon{
    height: 24px;
    width: 24px;
    margin: 0px 8px;

}
.site-text{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin: 0px 8px;
}
.icons{
    height: 64px;
    width: 64px;
    margin: 0px 12px;
}
.socail-icons{
    display: flex;
    padding: 50px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
    align-items: center;   
    justify-content: center;
}

.copyright-controller{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.copyright-text{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.unsubscribe-text{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}